.home-container {
  margin: 100px ;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-type-selector {
  margin-bottom: 20px;
}

.post-type-dropdown {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-type-dropdown:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post-type-header {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
