<div class="home-container">
  <div class="post-type-selector">
    <select [(ngModel)]="selectedType" class="post-type-dropdown">
      <option value="lost">Traze se</option>
      <option value="found">Pronadjeni</option>
    </select>
  </div>
  <div *ngIf="selectedType === 'lost'">
    <app-lost-post-btn />
    <h2 class="post-type-header">Traze se</h2>
    <app-posts [posts]="lostPosts"></app-posts>
  </div>
  <div *ngIf="selectedType === 'found'">
    <app-found-post-btn />
    <h2 class="post-type-header">Pronadjeni</h2>
    <app-posts [posts]="foundPosts"></app-posts>
  </div>
</div>
