<form
  *ngIf="registerForm"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="register-form"
>
  <mat-card>
    <mat-card-title>Registracija</mat-card-title>

    <mat-form-field appearance="fill">
      <mat-label>Ime</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="registerForm.controls['name'].hasError('required')">
        Ime je obavezno polje
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prezime</mat-label>
      <input matInput formControlName="surname" />
      <mat-error *ngIf="registerForm.controls['surname'].hasError('required')">
        Prezime je obavezno polje
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
        Email je obavezno polje
      </mat-error>
      <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
        Nevalidan email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
        Lozinka je obavezno polje
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Broj telefona</mat-label>
      <input matInput formControlName="phoneNumber" />
      <mat-error
        *ngIf="registerForm.controls['phoneNumber'].hasError('required')"
      >
        Broj telefona je obavezno polje
      </mat-error>
      <mat-error
        *ngIf="registerForm.controls['phoneNumber'].hasError('pattern')"
      >
        Nevalidan format
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Registruj se
    </button>
  </mat-card>
</form>
