.post-container {
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.post-sidebar {
  width: 100%;
  margin-bottom: 20px;
}

.post-content {
  width: 100%;
}
.lost-post {
  border-color: #ef9a9a; 
  background-color: #ffebee;
}

.found-post {
  border-color: #a5d6a7;
  background-color: #e8f5e9; 
}
