.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.left {
  flex: 1 1 auto;
  background-color: aqua;
}

.right {
  background-color: rgb(162, 0, 255);
  flex: 0 1 200px;
}
.post-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
