<h1 mat-dialog-title>Nova objava</h1>
<div mat-dialog-content>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  
    <!--
    <mat-form-field appearance="fill">
      <mat-label>Naslov</mat-label>
      <input matInput formControlName="title" />
      <mat-error
        *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched"
        >Naslov je obavezno polje</mat-error
      >
    </mat-form-field>
 -->
     <mat-select id="looking-for-select" formControlName="looking_for">
    <mat-option [value]="true">Trazi se</mat-option>
    <mat-option [value]="false">Pronadjen</mat-option>
  </mat-select>
  <br/>
    <mat-form-field appearance="fill">
      <mat-label>Informacije</mat-label>
      <textarea id="description-input" matInput formControlName="description" rows="4"></textarea>
      <!--<mat-error
        *ngIf="postForm.get('body')?.invalid && postForm.get('body')?.touched"
        >Opis je obavezno polje</mat-error
      >-->
    </mat-form-field>
<br/>
    <mat-label>Slike</mat-label>
    <br />
    <input
    id="image-upload-input"
      type="file"
      accept="image/*"
      (change)="onFileChange($event)"
      multiple
    />
    <mat-error *ngIf="postForm.controls['images'].hasError('maxImageAmount')">
      Možete maksimalno 10 slika da izaberete
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Otkazi</button>
  <button id="submit-post-btn" mat-button color="primary" (click)="onSubmit()" type="submit">
    Objavi
  </button>
</div>
