/* You can add global styles to this file, and also import other style files */
@import '@coreui/coreui/scss/coreui';


body {
  background-color: #f0f0f0; 
}
.lost{
  background-color: #ef9a9a;
}
.found{
  background-color: #a5d6a7;
}
.lost-post {
  border-color: #ef9a9a; 
  background-color: #ffebee;
}

.found-post {
  border-color: #a5d6a7;
  background-color: #e8f5e9; 
}